<%- include ("../partials/header") %> <%- include ("../partials/categories-navbar")%>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 m-auto">
          <h1 class="mt-4 mb-4 text-center">Contact Us</h1>

        </div>
        <div class="col-lg-8 col-md-12 text-justify m-auto">
          <!-- Introduction -->
          <div class="mt-4 mb-4">
            <p>
              Free feel to contact us 24/7.
            </p>
          </div>
          <!-- Email contacts -->
          <div class="mt-4 mb-4">
            <p>
            <h6><i>Contact us by email:</i></h6>
            </p>
            <p>
              For general inquiries:
              <a href="mailto:hzaheer48@outlook.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <u>hzaheer48@outlook.com</u>
              </a>
            </p>
          </div>
          <!-- Phone contacts -->
          <div class="mt-4 mb-4">
            <p>
            <h6><i>Contact us by phone:</i></h6>
            </p>
            <p>
              Call center phone:
              <a href="tel:+923175858734">
                <i class="fa fa-phone" aria-hidden="true"></i>
                +923175858734
              </a>
            </p>
            Whatsapp phone:
            <a href="tel:+923175858734">
              <i class="fa fa-phone" aria-hidden="true"></i>
              +923175858734
            </a>
            </p>
          </div>
        </div>

      </div>
    </div>

    <%- include ("../partials/footer") %>